.taskpanel{
    background-color:rgba(94, 211, 236, 1) ;
    width:697px ;
    height:1080px;
}

.dmy-frame{
    margin-left: 285px;
    margin-top: 46px;
    width: 384px;
    height: 172px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}

.current-date{
font-size: 144px;
padding-top: 10px;
}

.current-month, .current-year{
 font-size: 48px;

}

.month-year{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.today-tasks,.upcoming-tasks{
font-weight: 700;
font-size: 40px;
padding-left: 20px;
}

.task-container,.upcoming-task-container{

    color:rgba(103, 103, 103, 1);
    background-color: rgba(154, 237, 242, 1);

    width:503px;
    height:45px;

    padding-left: 20px;
    padding-top:10px;
    padding-bottom:10px;

    border-radius: 20px;

    margin-top: 10px;
    margin-bottom: 10px;
   

    list-style-type: none;
}

.tasks{
    padding-top: 10px;
    padding-bottom:10px ;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
   
}



